name: Test Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: "ghcr.io/${{ github.repository }}:latest"
      credentials:
        username: ${{ github.ref }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Configure CMake
        run: cmake -B $GITHUB_WORKSPACE/../build -S $GITHUB_WORKSPACE
      - name: Build
        run: cmake --build $GITHUB_WORKSPACE/../build
      - name: Build Android
        run: ./android/gradlew.bat --project-dir ./android